:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

.card {
    color: var(--clr-neutral-100);
    background-size: cover;
    padding: 7rem 0 0;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1.5rem;
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.3) 20%,
            hsl(0 0% 0% / 1));
}

.card-title {
    font-size: 1.5rem;
}

.card-body {
    font-size: 1.15rem;
}

/* Base styles for .card-content and children */
.card-content {
    transform: translateY(70%);
    transition: transform 500ms ease;
}

.card-content>*:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

/* Styles for hover and focus-within */
.card:hover .card-content,
.card:focus-within .card-content {
    transform: translateY(18%);
    transition-delay: 500ms;
}

.card:hover .card-content>*:not(.card-title),
.card:focus-within .card-content>*:not(.card-title) {
    opacity: 1;
    transition-delay: 700ms;
}

@media (max-width: 700px){
    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(-25%);
        transition-delay: 500ms;
    }
}

/* Adjustments for screens narrower than 700px */
@media (max-width: 500px) {

    .card-title {
        font-size: 1.1rem;
    }

    .card-body {
        font-size: 0.9rem;
    }

    .card-content {
        /* Adjust translateY percentage if needed */
        transform: translateY(70%);
    }

    /* Styles for hover and focus-within */
    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(-18%);
        transition-delay: 500ms;
    }
}

/* If you need hover-specific styles that apply only to devices capable of hovering,
   you can use the following media query. However, your initial CSS doesn't specify
   different behaviors for hover-capable devices, so this might not be necessary.
*/
@media (hover: hover) {
    /* Hover-specific styles here */
}

#know-more-btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    width: max-content;
    align-self: center;
    font-size: 1.1rem;
    padding: 0.3rem;
    border-radius: 0.25rem;
}

#know-more-btn:hover,
#know-more-btn:focus {
    background-color: var(--clr-neutral-100);
}

.card-body {
    color: rgb(255, 255, 255/0.85);
}